text {
	max-width: 600px;
}

a {
    text-decoration: none;
	color: #5555BB; 
	/*border-bottom: dotted 1px rgba(128, 128, 128, 0.75);*/
	outline: 0;
}
    a:hover {
		color: #886785; 
		transition: color 0.2s ease-in-out;
		/*border-bottom-color: rgba(255, 255, 255, 0);*/
    }

w3-btn {
	/*transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;*/
	color:#fff!important;
	background-color:#5555BB!important;
}
	.w3-btn:hover {
		box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		background-color:#38387B!important;
		color:#fff!important;
	}

.cobalt,.hover-cobalt:hover {
    color:#fff!important;
    background-color:#5555BB!important;
    transition: background-color 0.2s ease-in-out;
}

.charcoal,.hover-charcoal:hover {
    color:#fff!important;
    background-color:#37333B!important;
    transition: background-color 0.2s ease-in-out;
}

.error {
	color:#333!important;
	background-color:#fdd!important;
	border-color:#333;
	margin:8px!important;
}

.note {
	color:#999!important;
}

.subtle,.hover-subtle:hover {
    color:#fff!important;
    background-color:#886785!important;
    transition: background-color 0.2s ease-in-out;
}