<html>
<head>
    <title>Website</title>
    <link rel="stylesheet" href="css/w3.css">
    <!-- <link rel="stylesheet" href="css/TF-app.css"> -->
<style>
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
 
body{
    text-align: center;    
}
h1{
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    color: #8ac640;
    font-size: 2.5em;
}
 
</style>
 
</head>
<body>
 {% block body %}{% endblock %}
 
 	<div class="footer">
		<p><small>Twitter Follower app by Sarai Rosenberg, 2017.</small></p>
	</div>
</body>
</html>